.toDelete
**/.classpath
**/.project
**/.springBeans
**/.factorypath
**/.settings/**
**/.gradle/**
**/bin/**
**/build/**
**/target/**
**/.recommenders/**
**/.sonarlint/**
**/.metadata/**
**/.recommenders/
**/.gitignore/**
**/logs/**
**/ignite/**
*.log
/.metadata/
/.settings/
